<div 
    class="custom-skeleton p-p-4"
    *ngFor="let item of items">
  <p-skeleton shape="square" size="4rem" styleClass="p-mr-2"></p-skeleton>
  <div class="details">
    <div class="header">
      <p-skeleton height="3rem" width="10rem" styleClass="p-mb-2 p-mt-2 "></p-skeleton>
      <p-skeleton height="2rem" width="10rem" styleClass="p-mb-2 p-mt-2 "></p-skeleton>
    </div>
    <p-skeleton height="2rem" width="20rem" styleClass="p-mb-2 p-mt-2"></p-skeleton>
    <p-skeleton height="2rem" width="20rem" styleClass="p-mb-2 p-mt-2"></p-skeleton>
    <p-skeleton height="2rem" width="20rem" styleClass="p-mb-2 p-mt-2"></p-skeleton>
  </div>
  <p-skeleton width="600px" height="150px"></p-skeleton>
  <p-skeleton width="2rem" height="4rem"></p-skeleton>
</div>
